* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body {
    background-color: brown;
}

.title, .recipes, div {
    background-color: burlywood;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.title {
    text-align: center;
    outline: 2px solid bisque;
    color: darkolivegreen;
}

.link {
    margin-left: 20px;
}

img {
    display: block;
    margin: 0 auto;
}

.second-title {
    color: darkred;
}

